/* .container{
    display: flex;
    border:1px solid chartreuse;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
  /*  flex-direction: row;
    height: 95vh;
    width: 98vw;

    /* flex-direction: column; */
/*
}/*

.box-1{
    background-color: rgb(255, 251, 0);
    flex: 1;
    height: 80%;
}
.box-2{
    background-color: aquamarine;
    flex: 3;
    height: 30%;

    order: 3;
}
.box-3{
    background-color: blue;
    flex: 1;

} */


/* #header{
    display: flex;
    width: 100vw
    
    
    
}

#header > div {
    border: 1px solid black;
    
} */
body{
    /* position: relative; */
}

#nav{
    position: sticky;
    /* position: fixed; */

    top:0px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px 11px;
    height: 47px;
    align-items: center;
    box-shadow: 10px 1px #f4e5e5;
}

#nav-left{
    flex: 2;
    display: flex;
    align-items: center;
}

#nav-middle{
    flex: 2;
    display: flex;
    justify-content: space-between;
}

#nav-right{
    flex: 2;
    display: flex;
    justify-content: end;
}

.icon-right{
    margin-right: 10px;
}

img{
    width: 40px;
    height: 40px;
}

.search-box{
    height: 38px;
    width:235px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #f0f2f5;
    border: none;
}


body {
    background-color: #f0f2f5;
    margin: 0;
}

#nav-middle > img:hover{
    background-color: #f0f2f5;
    padding: 5px 39px;
    border-radius: 12px;
    margin: -5px -39px;
}

.container{
    z-index: -1;
    position: relative;
    padding: 20px;
}

.one, .two, .three{
    width: 100%;
    height: 100px;
}

.one{
    /* position: relative; */
    /* position: absolute; */
    /* position: sticky; */
    /* position: fixed; */

    /* width: 55px; */
    /* height: 55px; */
    /* border-radius: 50%; */
    /* right: 40px; */
    /* bottom: 40px; */
    top: 0px;
    background-color: blue;
    /* bottom: 50px; */
    /* right: 10px; */
    /* top: 5px; */
    /* left: 20px;
     */
     /* top: 0px; */
}

.two{

    background-color: rgb(255, 221, 0);
}

.three{
    /* position: relative; */

    background-color: rgb(0, 255, 213);
}